<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>sRealm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C36AA4B01FB1C4990048F79F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C36AA4C41FB1C49A0048F79F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C36AA4CF1FB1C49A0048F79F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
